/* Header component styles */

/* Header styles */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  background: #3fa9f5;
  color: #fff;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

/* Header navigation section styles */
.header-nav {
  margin-left: auto; /* Align navigation links to the right */
}

/* Header navigation links styles */
.header-nav a {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
}

.header-nav a:last-child {
  margin-right: 0;
}

/* Logo styles */
.header-logo {
  height: auto;
  width: 18.75rem;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .header-content {
    flex-direction: column;
  }
  .header-logo {
    width: 180px;
    margin-bottom: 1rem;
  }
  .header-nav {
    margin-left: 0;
  }

  .header-nav a {
    color: #fff;
    margin-right: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
  }
}
